<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <div class="fonts">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    </div>
</head>
<body>
    <div class="main-container">
        <div class="header-container">
            <div class="header">
                <img src="static\Images\Logo.png" alt="Logo" id="logoimg">
                <h2>Forecasting of Electricity Demand</h2>
            </div>
        </div>

        <div class="main-form-container">
            <form id="form-container">
                <div class="field-container">
                    <div>
                        <label id="title" style="text-transform: uppercase;">Generating Different Distribution</label>
                    </div>
                    <br>
                    <br>
                    <div class="file-container">
                        <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                    </div>
                    <br>
                    <div style="text-align: left; margin-left: 1em;">
                        <label id="detailslbl">Graph Details</label>
                    </div>
                    <br>
                    <div style="display: flex;">
                        <input type="text" id="txttitle" name="txttitle" placeholder="Enter chart title">
                    </div>
                    <br>
                    <div class="axis-fields">
                        <input type="text" id="x_lbl" name="x_lbl" placeholder="Enter X-Axis Label">
                        <input type="text" id="y_lbl" name="y_lbl" placeholder="Enter Y-Axis Label">
                    </div>
                    <br>
                    <br>
                    <div>
                        <input type="submit" value="GRAPH" id="graphbtn">
                    </div>
                </div>
            </form>
        </div>
        <div id="resultCont" style="display: flex; text-align: center;">
            <div id="plotResult"><br></div>
        </div>  
        <br>
        <br>
        <br>
        <br>
        <footer>
            <label id="footer">Copyright © 2024. All rights reserved.</label>
        </footer>  
    </div>
    <script src="/static/script.js"></script>
</body>
</html>